<div class="container text-center w-50">

    <div class="row">
        <div class="bg-primary text-center p-3 ml-2 mr-2 mb-4 mt-4 text-white"
            style="font-weight: bold; font-size: larger; font-family: Verdana, Geneva, Tahoma, sans-serif;">
            Login
        </div>
    </div>

    <div class="row">
        <div class="text-center m-2 form-group">
            <label for="email" class="col-3">Email address: </label>
            <input type="email" name="email" class="col-3 form-control" placeholder="Email address"
                [(ngModel)]="loggedUser.emailAddress" (keydown.enter)="login()">
        </div>
    </div>

    <div class="row">
        <div class="text-center m-2 form-group">
            <label for="email" class="col-3">Password: </label>
            <input type="password" name="password" placeholder="Password" class="col-3 form-control"
                [(ngModel)]="loggedUser.password" (keydown.enter)="login()">
        </div>
    </div>

    <div class="row">
        <div class="text-center m-2 form-group">
            <button class="btn btn-primary form-control w-25" type="submit" (click)="login()">Login</button>
        </div>
    </div>

    <div class="row">
        <div class="text-center m-2">
            Don't have an account? <a routerLink="/register">Register</a>
        </div>
    </div>
</div>